.alert {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 6px;

    &-info {
        background: lightcyan;
        border: 1px solid lightblue;
    }
}