@import './sass/text';
@import './sass/form';
@import './sass/button';
@import './sass/table';
@import './sass/alert';

body {
  background: #f7cb5d;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
